/* ALERTS */
.alert {
	padding: 15px 25px;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
	border-radius: 3px;
	transition: $transitionTime linear all;
}

.alert__success {
	color: #3c763d;
	background-color: #dff0d8;
	border-color: #d6e9c6;
}

.alert__error {
	color: #a94442;
	background-color: #f2dede;
	border-color: #ebccd1;
}

.alert__info {
	color: #31708f;
	background-color: #d9edf7;
	border-color: #bce8f1;
}

.alert__warning {
	color: #8a6d3b;
	background-color: #fcf8e3;
	border-color: #faebcc;
}