/* Animation between veiws */
.view-animation {
    transition: $transitionTime all;
    
    &.ng-enter,
    &.ng-leave {
        position: absolute;
        width: 100%;
        height: 100%;
        background: #fff;
    }
    
    &.ng-enter {
        z-index: 1;
        transform: translateX(100%);  
        opacity: 0;

        &.ng-enter-active {
            transform: translateX(0);  
            opacity: 1;
        }
    }
    
    &.ng-leave { 
        z-index: 0;
        transform: translateX(0);
        opacity: 1;

        &.ng-leave-active {
            transform: translateX(-100%);
            opacity: 0;
        }
    }
}

/* Animation used to show next button */
.fadein-animation {
    opacity: 1;
    
    &.ng-hide-add.ng-hide-add-active,
    &.ng-hide-remove.ng-hide-remove-active {
        transition: all $transitionTime;
    }

    &.ng-hide {
      opacity: 0;
    }
}

@keyframes slide-down {
    from {
        transform: translateY(-100%);
    }
    to {
        transform: translateY(0);
    }
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}