$textColor: 			#4C4C4C; 	// default text color
$activeColor: 			#00bad2; 	// active color
$grayColor: 			#F5F5F5; 	//

$transitionTime: 		.5s; 		// default transition time

$circleWidth: 			48px;		// circle pie diameter
$resultSize: 			100px;		// result pie diameter