$textColor: 			#4C4C4C; 	// default text color
$activeColor: 			#4285F4; 	// active color
$grayColor: 			#E8E8E8; 	

$transitionTime: 		.5s; 		// default transition time

$circleWidth: 			48px;		// circle pie diameter
$resultSize: 			100px;		// result pie diameter